header {
    background-color: #FFCC99;
}

main {
    background-color: #E6F2FF;
}

section {
    display: flex;
    flex: 3 0 1%;
    align-items: flex-start;
}

section {
    margin: 20px;
}

aside {
    background-color: #B3D9FF;
    display: flex;
    flex: 1;
}

footer {
    background-color:#99CC99;
}

h1 {
    font-weight: bold;
    text-align: center;
}

aside, header, footer {
    border: 1px solid #CCC;
    box-shadow: 5px 5px 5px rgba(0, 0, 0,.5);
}

